body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.major-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    padding: 7svw;
    margin: 0 auto;
    max-width: calc(100% - 10vw);

    background-color: #333;
}
