

.tile {
    border: 3px solid #444;
    border-radius: 15px;
    padding: 2vw;
    text-align: center;
    background-color: #555;
    box-shadow: 0 2vw 3vw rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;

    width: 13vw;
    height: 13vw;
    position: relative;
    overflow: hidden;
}

.tile:hover {
    transform: translateY(-1vw);
}

.tile-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: white;
}

.tile img {
    width: 3vw;
    height: auto;
    max-height: 10%;
    object-fit: contain;
    border-radius: 1vw;

    margin-bottom: 3vw;
}
