.corner-image-container {
    position: relative;
    display: inline-block;
    width: 4vw;
    height: 4vw;

}

.corner-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.corner-image-container:hover .tooltip {
    display: block;
    z-index: 1;
}
