
.mnemo-clock-container {
    background-color: black;
    color: #00ff00;
    padding: 10px;
    font-size: 5vw;
    height: 25%;
    width: 35%;
    margin-left: auto;
}

.mnemo-clock-container span {
    margin: 0 5px;
}
