
.mnemo-control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mnemo-button-container {
    margin: auto;
    display: flex;
    gap: 10px;
}


.mnemo-button {
    flex: 1;
}
