/* MnemoMax.css */

/* Allgemeine Container-Stile */
.mnemo-max-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
    border: 2px solid #000;
    background-color: #333; /* Hintergrundfarbe für den Gesamtcontainer */
}

.mnemo-menu-container {
    width: 100%;
    height: 12%;
    border: 2px solid #f00;
    background-color: #333; /* Hintergrundfarbe für das Menü */
}

.mnemo-main-content-container {
    display: flex;
    flex-direction: row; /* Hier habe ich geändert: Von Spalte zu Zeile */
    flex: 1;
    border: 2px solid #00f;
    background-color: #333; /* Hintergrundfarbe für den Hauptinhaltcontainer */
}

/* Stile für den Fortschrittsbalken */
.progress-content {
    width: 25vw;
    height: 100%;
    border: 2px solid #ccc;
    background-color: #333; /* Hintergrundfarbe für den Fortschrittsbalken */
}

/* Stile für den App-Container */
.mnemo-app-container {
    display: flex;
    flex-direction: column; /* Hier habe ich geändert: Von Zeile zu Spalte */
    flex: 1;
    position: relative;
    border: 2px solid #0f0;
    background-color: #333;
}

.mnemo-clock {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid #0f0;

}

.mnemo-content {
    height: 80%;
    width: 100%;
    flex: 1;
    overflow: auto;
    border: 2px solid #ff0;
    background-color: #333;
}
.mnemo-control-panel {
    height: 10vw;
    width: 100%;
    background-color: #333;
    border: 2px solid #f0f;
}
